*{
    margin: 0;
    padding: 0;
  
}


body {background-image: url("../imagenes/fondo.jpg");}


header{

    margin-bottom: 100px ;
}



.contenedor-menu{ margin-top: 20px ; }
.menu li ul{
    display: none;
    position: absolute;

}

.menu li:hover >ul{
    display: block;
  
padding: 10px;
 border-radius: 5px;
 line-height: 5px;

}
.menu a{
    display: block;
    padding: 10px 15px;
    color:#fff;
    text-decoration: none;
   text-align: right;

}



.menu{

   margin: auto ;
    z-index: 1900;
   border-radius: 2px;
   left: 20px ;

}

.menu ul{

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content:center;

}

.menu ul li{
    list-style: none;
 justify-content:right;
}

.menu ul li a{
    padding: 12px;
    text-decoration: none;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;

}

.menu ul li a:hover{
    background-color:rgba(1,1,1,0.7);
    
    -webkit-transition: all 500ms;
    transition: all 500ms;
    border-radius: 5px;
   -webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-ms-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);
color: yellow;
}




.paralelo {
   width: 150px; 
   height: 50px; 
   background-color: rgba(1,1,1,0.7);
   -webkit-transform: skewY(-5deg); 
   -moz-transform: skewY(-5deg); 
   -o-transform: skewY(-5deg); 
   margin: 5px;
   
}
.rombos{
	position: relative;
	left: 0%;
	top: 50px;
	margin-bottom:0 ;
	width: 50px;
    margin: 0 ;
}
.rombos ul a{
	position: relative;
	top: 15px;
	left: 50px;
	text-decoration: none;
	color: white;
	display:inline-block;

}

.rombos ul a:hover{

    -webkit-transition: all 300ms;
-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-ms-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);
color: yellow;
}


footer{
    width: 100%;
        margin-top: 300px ;
    background: rgba(0,0,0,0.7);
    color: white;   

    
}

.pie-pagina-total{
    width: 100%;
    max-width: 1200px;
    height: 50px ;
    margin: auto;
    padding: 40px;
}

.piepagina-body{
    display: flex;
    justify-content: space-between;
    margin: auto;
}


.columna2{
    max-width: 400px;
    
}

.columna2 h1{
	position: relative;
    font-size: 15px;
    left: 100px;
}

.columna2 .row label:hover a{

    
color: yellow;
}
.columna2 .row label a{

    color: white;
    text-decoration: none;
}

.row{
    margin-top: 20px;
    
}

.row img{
    width: 36px;
    height: 36px;
    padding: 20px;
    position: relative;
    top: -20px ;
    margin-left: 0px ;
padding-right:  0 ;
}

.row label{
	position: relative;
   
    color: #C7C7C7;
    top: -50px;
}

.columna3{
    max-width: 700px;
}

.columna3 h1{
	position: relative;
     width: 200px ;
    font-size: 15px;
    left: 150px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    position: relative;
    width: 36px;
   
    height: 36px;
    margin-left: 0px;
}

.row2 label{
    margin-top: 10px;
     margin-left: 5px;
    margin-right: 10px;

  width: 150px;
   
}

.piepagina{
    width: 100%;  
  
    background-color: black;
}

.footer{
    max-width: 1200px;
    margin: auto;

    display: flex;
    justify-content: space-between;  
    padding: 20px;

}


.copyright{
    color: #C7C7C7;

}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 12px ;

}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}

.information label:hover a{
   
 color: yellow;
}



.presentacion img{
position: absolute;
left: 50px ;
top: 35px ;
width: 600px ;
height: 500px ;
margin: auto ;
margin-top: 20px ;
border-radius: 3px ;
box-shadow: 15px 15px 15px black;
}




.presentacion #frase{
    position: relative;
    left: 400px ;
    width: 500px ;
    height:  200px ;
    top: 300px ;
    margin: 0 ;
    padding: 0 ;
    box-shadow: 15px 15px 15px black;
}

.presentacion #frase:hover{

    -webkit-transition: all 500ms;
-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-ms-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);

}
.presentacion{
    position: absolute;
background-color: rgba(255, 44, 44, 0.7) ;
border-radius: 15px ;
    height: 600px ;
    width: 950px;
    left: 200px ;
    top: 85px ;
    margin-top: 20px ;
    margin-bottom:  0 ;
    

}
#logo{
    position: absolute;
    width: 200px ;
    height: 60px ;
    left: 20px ;
    top: -20px ;

}

.presentacion #logo:hover{

    -webkit-transition: all 500ms;
-webkit-transform:scale(1.5);
-moz-transform:scale(1.5);
-ms-transform:scale(1.5);
-o-transform:scale(1.5);
transform:scale(1.5);

}
#disqus_thread{
    margin-top: 50px;
    margin-bottom: 20px;
    color: white ;
    background-color: rgba(1,1,1,0.7); 
    margin-left: 20px ;
    margin-right: 20px ;
}
.estructuracuento{
    overflow: auto;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(1,1,1,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
    margin: auto;
}
.estructuracuento:target {
    opacity:1;

    pointer-events: auto;
}
.estructuracuento > div {
    width: 1200px;
    position: relative;
    margin: 10% auto;
    top: -20px;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: rgba(1,1,1,0.7);
   color:white ;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.estructuracuento  div p {
   text-align: justify;
}
.estructuracuento  div h2{
   text-align: center;
   padding: 20px ;
}
.analisis{
    color: yellow ;

    padding: 10px ;
    text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px ;
}
.analisis:hover{
    color: red;
    
}
.poema{
    text-align:justify;
    font-style: italic ;
    
    margin-top: 30px ;
    margin-left: 200px ;
    margin-bottom: 30px ;
}
.close {
    background:yellow;
    color:black;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}
.close:hover { background-color: rgba(255, 44, 44, 0.7) ; }


.closer{
    display: none;
}
.closer:hover{
    color: red;
    
}
#biografias p{
   vertical-align: middle;
    color: white ;
    text-align: justify;
   margin-top: 5px ;
   margin-right: 30px ;
}

#biografias img{
    vertical-align: middle;
    width: 300px ;
   height: 100% ;
 shape-image-threshold: 0.5;
 shape-margin: 20px;
 float: left;
 margin: 20px ;
   
}


@media screen and (max-width: 550px){
 
    .contenedor-menu{
        display:block;
        margin-top: 20px ; 
    }
    .menu ul li a{
    padding: 5px;
    

}
.row label{
    display: none;
}
.columna2 h1{
    left: 20px ;
}

 .presentacion {
    display: none;
   }
   .presentacion img{
display: none;

} 
.rombos ul{
   
    width: 200px;
   
}
#biografias img{
 display: none;
   
}

} 
@media screen and (max-width: 1300px){
    .estructuracuento > div {
    width:100% ;
    margin: auto;
   
   
}

.closer{
    display: inline ;
    color:yellow;
     text-decoration: none;
font-family: Arial, Helvetica, sans-serif;
 font-size: 20px ;
}
.estructuracuento div p{
    margin: 60px ;
}
    .columna3{
        display: none;
    }
} 
@media screen and (max-width: 1100px){
  .presentacion #frase{
    display: none ;
  }
   .presentacion {
   height: 500px ;
    width: 850px;
   }
   .presentacion img{


width: 500px ;
height: 400px ;

}

   
}

  .tooltip {
    display: inline;
    position: relative;
  }
 
  .tooltip:hover:before {
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
    
  }